---
import Base from '@/templates/Base.astro';
import {  Section } from '@/ui';
---
<Base head={{ title: "Kontakt", description: "Skontakuj się ze mną" }}>
  <Section>
    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
   </Section>
</Base>