/* ! purgecss start ignore */

@tailwind base;

/* ! purgecss end ignore */

@tailwind components;

@tailwind utilities;

ol, ul {
    padding-left: 40px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

html, body {
    height: 100%
}

.block-scroll{
    overflow: auto;
}

.pageContainer {
    height: 100%;
}